@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  padding: 20px;
  border-radius: 12px;
  background: #68739B;
  transition: 0.3s ease-in-out transform;
  transform: scale(0.5);
  max-width: 60%;
}

.modalNew {
  .content {
    background: #252525;
  }
}

.opened {
  pointer-events: auto;
  opacity: 1;

  .content {
    transform: scale(1);
  }
}

.isClosing {
  .content {
    transform: scale(0.3);
  }
}