.page {
  width: auto;
  height: 100vh;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat Alternates", sans-serif;
}

.form {
  width: 578px;
  height: 518px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(99, 99, 99, 0.68);
}

.input {
  width: 488px;
  height: 57px;
  background-color: #D9D9D9;
  border-color: #7B7B7B;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.btn {
  width: 387px;
  height: 68px;
  background-color: #F66450;
  border-radius: 35px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverText:hover {
  text-decoration: underline #F66450 2px;

}