.modal {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #252525;
  margin-left: 25%;
}

.blockData {
  display: flex;
  flex-direction: column;
  color: #454545;
  border: 1px solid rgba(183, 198, 255, 0.51);
  padding: 1em;
  border-radius: 8px;
  width: 335px;
}

.headerData {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: 1em;
}

.btnCreate {
  width: 250px;
  height: 52px;
  border-radius: 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: #F66450;
  justify-content: center;
  margin-top: 1em;
}

.btnCancel {
  width: 200px;
  height: 52px;
  border-radius: 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: rgba(246, 100, 80, 0.79);
  justify-content: center;
  margin-top: 1em;
}

