.modal {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  justify-content: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  font-size: 40px;
  font-weight: 500;
  color: #252525;
}

.inputName {
  width: 488px;
  height: 57px;
  margin-top: 2em;
  font-family: "Montserrat", sans-serif;
  color: #252525;
  font-size: 20px;
}

.inputLink {
  width: 488px;
  height: 57px;
  margin-top: 2em;
  font-family: "Montserrat", sans-serif;
  color: #252525;
  font-size: 20px;
}

.inputDesc {
  width: 488px;
  height: 184px;
  margin-top: 2em;
  font-family: "Montserrat", sans-serif;
  color: #252525;
  font-size: 20px;
}

.btnCreate {
  width: 387px;
  height: 68px;
  border-radius: 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: #F66450;
  justify-content: center;
  margin-top: 1em;
}

.btnCancel {
  width: 200px;
  height: 35px;
  border-radius: 35px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: rgba(246, 100, 80, 0.79);
  justify-content: center;
  margin-top: 1em;
}
