.blockData {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.btn {
  display: flex;
  flex-direction: row;
  gap: 4em;
  margin-top: -0.5em;
}

.cancelBtn {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #F66450;
  color: #F66450;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  width: 170px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.cancelBtn:hover {
  background-color: #ff806c;
  color: white;
}

.completeBtn {
  background-color: #F66450;
  border: 1px solid #F66450;
  color: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  width: 185px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.completeBtn:hover {
  background-color: #ff806c;
}