.buttonPlan {
  width: 133px;
  height: 22px;
  background-color: #C0CCF7;
  border-radius: 34px;
  border: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 11px;
  color: #68739B;
  font-weight: 600;
  margin-left: 2em;
  box-shadow: 0px 5px 10px rgba(104, 115, 155, 0.3);
  transition: width 0.5s ease-out, height 0.7s ease-out, font-size 0.5s ease-out;
}

.buttonPlan:hover {
  width: 153px;
  height: 32px;
  font-size: 12px;
}

.header {
  margin-left: 1em;
  font-weight: 500;
  font-size: 20px;
}

.month {
  background-color: #C0CCF7;
  border-radius: 34px;
  border: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  color: #8F9AC5;
  font-weight: 600;
  box-shadow: 0px 5px 10px rgba(104, 115, 155, 0.2);
  transition: box-shadow 0.3s ease-out;
}

.month:hover {
  box-shadow: 0px 2px 10px rgba(79, 86, 119, 0.5);
}

.currentMonth {
  border: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
  color: #68739B;
  font-weight: 500;
  background-color: white;
  text-decoration: underline;
}

.currentMonth:hover {
  text-decoration: none;
}

.blockCalendar {
  background-color: white;
  width: 98%;
  height: 870px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin-left: 1em;
  margin-top: 1em;
}

.blockHeaderCalendar {
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerCalendar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blockSwitch {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
}

.blockData {
  width: 380px;
  height: 72px;
  border-radius: 10px;
  background-color: white;
  margin-top: 0.7em;
}

.calendar {
  width: 96%;
  height: auto;
  margin-top: 1em;
  margin-left: 2em;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notesMonth {
  font-size: 28px;
  text-align: center;
}
.notesMonth section {
  font-size: 28px;
}

.alert {
  margin: 1em;
  background-color: rgba(246, 100, 80, 0.27);
  border: 1px solid rgba(246, 100, 80, 0.68);
  font-family: "Montserrat", sans-serif;
  width: 35em;
  height: 40px;
  margin-bottom: -55px;
}

.alertNull {
  margin: 1em;
  background-color: rgba(174, 190, 255, 0.45);
  border: 1px solid rgb(177, 194, 255);
  font-family: "Montserrat", sans-serif;
  width: 35em;
  height: 40px;
  margin-bottom: -55px;
}