.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-left: 385px;
  margin-right: 385px;
  background: linear-gradient(#C0CCF7, #A1A9D0);
  width: 1500px;
  height: 628px;
  border-radius: 38px;
  box-shadow: 0 5px 15px rgba(46, 46, 46, 0.4);
}

.blocks {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
  gap: 3em;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  margin-left: 185px;
  gap: 1em;
  text-align: left;
  align-items: start;
}

.centerBlock {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
  text-align: center;
  align-items: center;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  margin-right: 185px;
  gap: 1.9em;
  text-align: right;
  align-items: end;
}

.image {
  width: 150px;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.desc {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: white;
}

.btn {
  width: 467px;
  height: 58px;
  background-color: white;
  border-radius: 50px;
  border: none;
  box-shadow: 0 5px 15px rgba(46, 46, 46, 0.4);
}

.textBtn {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #8B92B7;
  font-weight: 500;
}
