.modalDelete {
  font-family: "Montserrat", sans-serif;
  width: 400px;
  height: 150px;
  background-color: #DEDEDE;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.blockData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  text-align: center;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
  margin-top: 1em;
  margin-bottom: -2em;
}

.date {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.btnDelete {
  width: 144px;
  height: 31px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btnCancel {
  width: 144px;
  height: 31px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  border: 1px solid #F66450;
  color: #F66450;
  font-weight: 500;
}


