.container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 4em;
  justify-content: space-between;
  align-items: center;
  margin-top: 15em;
  text-align: center;
}

.words {
  color: #252525;
  text-decoration: none;
  font-weight: 400;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  line-height: 60px;
}

.textBtn {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
}

.btn {
  width: 467px;
  background-color: #F66450;
  border-radius: 50px;
  height: 79px;
  box-shadow: 0 5px 15px rgba(46, 46, 46, 0.4);
}