
.blockData {
  font-family: "Montserrat", sans-serif;
  width: 400px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: -2em;
  border-radius: 10px;
  padding-bottom: 1em;
}

.date {
  font-size: 14px;
  color: #ff6a4f;
}

.name {
  font-size: 18px;
  color: #454545;
  margin-bottom: 1em;
}

.btnDelete {
  width: 120px;
  color: #454545;
  display: flex;
  align-items: center;
  margin-left: -1em;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}