.modalView {
  font-family: "Montserrat", sans-serif;
  width: 369px;
  height: 230px;
  background-color: #C0CCF7;
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.blockData {
  width: 450px;
  height: 160px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: -2em;
  border-radius: 10px;
  padding-bottom: 1em;
}

.date {
  font-size: 14px;
  color: #454545;
}

.name {
  font-size: 20px;
  color: #454545;
  margin-bottom: 1em;
}

.btnDelete {
  width: 120px;
  color: #454545;
  display: flex;
  align-items: center;
  margin-left: -1em;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}