.container {
  width: 775px;
  height: 335px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  margin-top: 1em;
}

.header {
  font-size: 20px;
  font-weight: 500;
  margin: 1em;
}


.block {
  margin-top: 3em;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
}

.textUp {
  font-size: 15px;
  color: #424242;
  font-weight: 600;
}

.blockText {
  font-size: 15px;
  font-weight: 500;
  color: #252525;
  margin-left: 1.5em;
  margin-right: 1em;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.imp {
  font-size: 15px;
  font-weight: 600;
  color: #F66450;
  margin-top: 1em;
}

.btn {
  width: 300px;
  height: 30px;
  background-color: #F66450;
  border-radius: 7px;
  color: white;
  margin-top: 1em;
  margin-right: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  margin-top: 1.5em;
}