.container {
  width: 775px;
  height: 335px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  margin-top: 1em;
}

.header {
  font-size: 20px;
  font-weight: 500;
  margin: 1em;
}

.check {
  width: 740px;
  height: 40px;
  background-color: rgba(170, 255, 147, 0.74);
  border-radius: 5px;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.text {
  color: #43a128;
  font-size: 14px;
  font-weight: 500;
  margin-left: 1em;
  margin-right: 1em;
}

.checkError {
  width: 720px;
  height: 40px;
  background-color: rgba(255, 167, 167, 0.74);
  border-radius: 5px;
  margin-left: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.textError {
  color: #ff3939;
  font-size: 14px;
  font-weight: 500;
  margin-left: 1em;
  margin-right: 1em;
}